.rectangle {
  width: 92vw; /* Ширина прямоугольника равна 90% от ширины области просмотра */
  height: 77vh; /* Высота прямоугольника равна 85% от высоты области просмотра */
  background-color: #393E46; /* Цвет фона прямоугольника */
  border-radius: 20px; /* Радиус скругления углов */
  position: fixed; /* Фиксированное позиционирование относительно окна браузера */
  bottom: 6%; /* Отступ снизу равен 8% от высоты области просмотра */
  right: 5%; /* Отступ справа равен 5% от ширины области просмотра */
  display: flex; /* Используем Flexbox для центрирования внутреннего прямоугольника */
  align-items: center; /* Вертикальное центрирование */
  justify-content: center; /* Горизонтальное центрирование */
 
}



.inner-rectangle {
  width: 90%; /* Ширина внутреннего прямоугольника равна 90% от ширины внешнего */
height: 10%; /* Высота внутреннего прямоугольника равна 5% от высоты внешнего */
background: linear-gradient(to right, #BDE3FF, #8ae6d2); /* Переливающийся фон *//*background-color: #BDE3FF;  Цвет фона внутреннего прямоугольника */
border-radius: 14px; /* Радиус скругления углов внутреннего прямоугольника */
position: fixed; /* Фиксированное позиционирование относительно окна браузера */
top: 20; /* Позиционирование в самом верху экрана */
left: 50%; /* Позиционирование на половине ширины экрана */
transform: translateX(-50%); /* Смещение влево на половину ширины элемента для центрирования */

  /* Ваши стили для внутреннего прямоугольника */
display: flex; /* Используйте Flexbox для центрирования содержимого */
justify-content: center; /* Горизонтальное центрирование содержимого */
align-items: center; /* Вертикальное центрирование содержимого */
}



.inner2-rectangle {
width: 22.3vw; /* Ширина внутреннего прямоугольника теперь в единицах vw */
height: 50vh; /* Высота внутреннего прямоугольника в единицах vh */
background: linear-gradient(to right, #BDE3FF, #8ae6d2); /* Переливающийся фон */
border-radius: 20px; /* Радиус скругления углов */
position: fixed; /* Фиксированное позиционирование относительно окна браузера */
top: 48%; /* Центрирование по вертикали */
left: 20%; /* Центрирование по горизонтали */
transform: translate(-50%, -50%); /* Смещение для точного центрирования */
display: flex; /* Используйте Flexbox для центрирования содержимого */
justify-content: center; /* Горизонтальное центрирование содержимого */
align-items: center; /* Вертикальное центрирование содержимого */

font-family: 'Calibri', sans-serif; /* Установка шрифта Calibri */
font-size: 18px; /* Размер шрифта */
font-weight: bold; /* Жирное начертание */
color: #000000; /* Цвет текста */
text-align: center;
padding-top: 5px; /* Отступ сверху */
padding-right: 5px; /* Отступ справа */
padding-bottom: 5px; /* Отступ снизу */
padding-left: 5px; /* Отступ слева */

}


.inner3-rectangle {
width: 22vw; /* Ширина внутреннего прямоугольника */
height: 50vh; /* Высота внутреннего прямоугольника */
background: linear-gradient(to right, #BDE3FF, #19d5db); /* Переливающийся фон */
border-radius: 20px; /* Радиус скругления углов */
position: fixed; /* Фиксированное позиционирование относительно окна браузера */
top: 65vh; /* Позиционирование по центру экрана по вертикали */
left: 45%; /* Позиционирование по центру экрана по горизонтали */
transform: translate(-50%, -50%); /* Смещение для точного центрирования */
display: flex; /* Используйте Flexbox для центрирования содержимого */
justify-content: center; /* Горизонтальное центрирование содержимого */
align-items: center; /* Вертикальное центрирование содержимого */
cursor: pointer;

font-family: 'Calibri', sans-serif; /* Установка шрифта Calibri */
font-size: 18px; /* Размер шрифта */
font-weight: bold; /* Жирное начертание */
color: #000000; /* Цвет текста */
text-align: center;
padding-top: 5px; /* Отступ сверху */
padding-right: 5px; /* Отступ справа */
padding-bottom: 5px; /* Отступ снизу */
padding-left: 5px; /* Отступ слева */
}

.inner4-rectangle {
width: 22vw; /* Ширина внутреннего прямоугольника */
height: 15vh; /* Высота внутреннего прямоугольника */
background: linear-gradient(to right, #BDE3FF, #19d5db); /* Переливающийся фон */
border-radius: 20px; /* Радиус скругления углов */
position: fixed; /* Фиксированное позиционирование относительно окна браузера */
top: 30vh; /* Позиционирование выше центра экрана по вертикали */
left: 45%; /* Позиционирование по центру экрана по горизонтали */
transform: translate(-50%, -50%); /* Смещение для точного центрирования */
display: flex; /* Используйте Flexbox для центрирования содержимого */
justify-content: center; /* Горизонтальное центрирование содержимого */
align-items: center; /* Вертикальное центрирование содержимого */

font-family: 'Calibri', sans-serif; /* Установка шрифта Calibri */
font-size: 18px; /* Размер шрифта */
font-weight: bold; /* Жирное начертание */
color: #000000; /* Цвет текста */
text-align: center;
padding-top: 5px; /* Отступ сверху */
padding-right: 5px; /* Отступ справа */

padding-left: 5px; /* Отступ слева */

}

.inner5-rectangle {
width: 24vw; /* Ширина внутреннего прямоугольника */
height: 69vh; /* Высота внутреннего прямоугольника */
background: rgba(124, 124, 124, 0.6); /* Серый цвет с полупрозрачностью */
border-radius: 20px; /* Радиус скругления углов */
position: fixed; /* Фиксированное позиционирование относительно окна браузера */
top: 56.5vh; /* Позиционирование выше центра экрана по вертикали */
left: 20%; /* Позиционирование по центру экрана по горизонтали */
transform: translate(-50%, -50%); /* Смещение для точного центрирования */
display: flex; /* Используйте Flexbox для центрирования содержимого */
justify-content: center; /* Горизонтальное центрирование содержимого */
align-items: center; /* Вертикальное центрирование содержимого */
}

.inner6-rectangle {
  width: 90vw; /* Ширина прямоугольника равна 90% от ширины области просмотра */
  height: 75vh; /* Высота прямоугольника равна 85% от высоты области просмотра */
  background: rgba(59, 59, 59, 0.9); /* Серый цвет с полупрозрачностью */
  border-radius: 20px; /* Радиус скругления углов */
  position: fixed; /* Фиксированное позиционирование относительно окна браузера */
  bottom: 6%; /* Отступ снизу равен 8% от высоты области просмотра */
  right: 5%; /* Отступ справа равен 5% от ширины области просмотра */
  display: flex; /* Используем Flexbox для центрирования внутреннего прямоугольника */
  align-items: center; /* Вертикальное центрирование */
  justify-content: center; /* Горизонтальное центрирование */
  z-index: 1000; /* значение должно быть выше, чем у других элементов */
}


.inner7-rectangle{
width: 23.5vw; /* Ширина внутреннего прямоугольника */
height: 69vh; /* Высота внутреннего прямоугольника */
background: rgba(124, 124, 124, 0.6); /* Серый цвет с полупрозрачностью */
border-radius: 20px; /* Радиус скругления углов */
position: fixed; /* Фиксированное позиционирование относительно окна браузера */
top: 56.5vh; /* Позиционирование выше центра экрана по вертикали */
left: 45%; /* Позиционирование по центру экрана по горизонтали */
transform: translate(-50%, -50%); /* Смещение для точного центрирования */
display: flex; /* Используйте Flexbox для центрирования содержимого */
justify-content: center; /* Горизонтальное центрирование содержимого */
align-items: center; /* Вертикальное центрирование содержимого */
}

.inner8-rectangle {
width: 22vw; /* Ширина внутреннего прямоугольника */
height: 50vh; /* Высота внутреннего прямоугольника */
background: linear-gradient(to right, #a1ffd8, #46fa97); /* Переливающийся фон */
border-radius: 20px; /* Радиус скругления углов */
position: fixed; /* Фиксированное позиционирование относительно окна браузера */
top: 65vh; /* Позиционирование по центру экрана по вертикали */
left: 70%; /* Позиционирование по центру экрана по горизонтали */
transform: translate(-50%, -50%); /* Смещение для точного центрирования */
display: flex; /* Используйте Flexbox для центрирования содержимого */
justify-content: center; /* Горизонтальное центрирование содержимого */
align-items: center; /* Вертикальное центрирование содержимого */
cursor: pointer;

font-family: 'Calibri', sans-serif; /* Установка шрифта Calibri */
font-size: 18px; /* Размер шрифта */
font-weight: bold; /* Жирное начертание */
color: #000000; /* Цвет текста */
text-align: center;
padding-top: 5px; /* Отступ сверху */
padding-right: 5px; /* Отступ справа */
padding-bottom: 5px; /* Отступ снизу */
padding-left: 5px; /* Отступ слева */
}

.inner9-rectangle {
width: 22vw; /* Ширина внутреннего прямоугольника */
height: 15vh; /* Высота внутреннего прямоугольника */
background: linear-gradient(to right, #a1ffd8, #46fa97); /* Переливающийся фон */
border-radius: 20px; /* Радиус скругления углов */
position: fixed; /* Фиксированное позиционирование относительно окна браузера */
top: 30vh; /* Позиционирование выше центра экрана по вертикали */
left: 70%; /* Позиционирование по центру экрана по горизонтали */
transform: translate(-50%, -50%); /* Смещение для точного центрирования */
display: flex; /* Используйте Flexbox для центрирования содержимого */
justify-content: center; /* Горизонтальное центрирование содержимого */
align-items: center; /* Вертикальное центрирование содержимого */

font-family: 'Calibri', sans-serif; /* Установка шрифта Calibri */
font-size: 18px; /* Размер шрифта */
font-weight: bold; /* Жирное начертание */
color: #000000; /* Цвет текста */
text-align: center;
padding-top: 5px; /* Отступ сверху */
padding-right: 5px; /* Отступ справа */

padding-left: 5px; /* Отступ слева */

}

.inner10-rectangle{
width: 23.5vw; /* Ширина внутреннего прямоугольника */
height: 69vh; /* Высота внутреннего прямоугольника */
background: rgba(124, 124, 124, 0.6); /* Серый цвет с полупрозрачностью */
border-radius: 20px; /* Радиус скругления углов */
position: fixed; /* Фиксированное позиционирование относительно окна браузера */
top: 56.5vh; /* Позиционирование выше центра экрана по вертикали */
left: 70%; /* Позиционирование по центру экрана по горизонтали */
transform: translate(-50%, -50%); /* Смещение для точного центрирования */
display: flex; /* Используйте Flexbox для центрирования содержимого */
justify-content: center; /* Горизонтальное центрирование содержимого */
align-items: center; /* Вертикальное центрирование содержимого */
}




.inputField{
width: 40vw; /* Ширина поля для ввода */
height: 15vh; /* Высота поля для ввода */
padding: 20px; /* Внутренний отступ */
top: 55%; /* Позиционирование по вертикали */
left: 26%; /* Позиционирование по горизонтали */
z-index: 1000; /* значение должно быть выше, чем у других элементов */

font-size: 15px; /* Размер шрифта */
border-radius: 15px; /* Радиус скругления углов */
border: 1px solid #c7c7c7; /* Тонкая серая рамка */
background: linear-gradient(to right, #bdffff, #8ab2e6); /* Переливающийся фон */
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для добавления глубины */
position: fixed; /* Фиксированное позиционирование относительно окна браузера */
color: #000000; /* Цвет текста */
font-family: 'Calibri', sans-serif; /* Установка шрифта Calibri */

transform: translate(-50%, -50%); /* Смещение для точного центрирования */
display: flex; /* Используйте Flexbox для центрирования содержимого */
justify-content: center; /* Горизонтальное центрирование содержимого */
align-items: center; /* Вертикальное центрирование содержимого */


}

.inputField::placeholder {
color: rgb(71, 71, 71); /* Серый цвет текста */
opacity: 2; /* Делаем текст непрозрачным */
}


.inputField2{
z-index: 1000; /* значение должно быть выше, чем у других элементов */
width: 40vw; /* Ширина поля для ввода */
height: 15vh; /* Высота поля для ввода */
padding: 20px; /* Внутренний отступ */
top: 55%; /* Позиционирование по вертикали */
left: 74%; /* Позиционирование по горизонтали */

font-size: 15px; /* Размер шрифта */
border-radius: 15px; /* Радиус скругления углов */
border: 1px solid #c7c7c7; /* Тонкая серая рамка */
background: linear-gradient(to right, #bdffff, #8ab2e6); /* Переливающийся фон */
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для добавления глубины */
position: fixed; /* Фиксированное позиционирование относительно окна браузера */
color: #000000; /* Цвет текста */
font-family: 'Calibri', sans-serif; /* Установка шрифта Calibri */

transform: translate(-50%, -50%); /* Смещение для точного центрирования */
display: flex; /* Используйте Flexbox для центрирования содержимого */
justify-content: center; /* Горизонтальное центрирование содержимого */
align-items: center; /* Вертикальное центрирование содержимого */

}

.inputField2::placeholder {
color: rgb(71, 71, 71); /* Серый цвет текста */
opacity: 2; /* Делаем текст непрозрачным */
}

.saveButton{
z-index: 1000; /* значение должно быть выше, чем у других элементов */
width: 16vw; /* Ширина поля для ввода */
height: 10vh; /* Высота поля для ввода */

top: 70%; /* Позиционирование по вертикали */
left: 50%; /* Позиционирование по горизонтали */

font-size: 20px; /* Размер шрифта */
border-radius: 15px; /* Радиус скругления углов */
border: 1px solid #c7c7c7; /* Тонкая серая рамка */
background: linear-gradient(to right, #bdffc8, #60ec67); /* Переливающийся фон */
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для добавления глубины */
position: fixed; /* Фиксированное позиционирование относительно окна браузера */
color: #000000; /* Цвет текста */
font-family: 'Calibri', sans-serif; /* Установка шрифта Calibri */

transform: translate(-50%, -50%); /* Смещение для точного центрирования */
display: flex; /* Используйте Flexbox для центрирования содержимого */
justify-content: center; /* Горизонтальное центрирование содержимого */
align-items: center; /* Вертикальное центрирование содержимого */


}

.saveButton::placeholder {
color: rgb(71, 71, 71); /* Серый цвет текста */
opacity: 2; /* Делаем текст непрозрачным */
}


.backButton2{
z-index: 1000; /* значение должно быть выше, чем у других элементов */
width: 15%; /* Ширина внутреннего прямоугольника */
height: 10%; /* Высота внутреннего прямоугольника */
background: linear-gradient(to right, #BDE3FF, #19d5db); /* Переливающийся фон */
border-radius: 20px; /* Радиус скругления углов */
position: fixed; /* Фиксированное позиционирование относительно окна браузера */
top: 86%; /* Позиционирование по вертикали */
left: 86%; /* Позиционирование по горизонтали */
transform: translate(-50%, -50%); /* Смещение для точного центрирования */
z-index: 1000; /* Установка высокого значения, чтобы кнопка была над другими элементами */

font-family: 'Calibri', sans-serif; /* Установка шрифта Calibri */
font-size: 18px; /* Размер шрифта */
color: #000000; /* Цвет текста */
font-weight: bold; /* Жирное начертание */




}

.backButton{
z-index: 1000; /* значение должно быть выше, чем у других элементов */
width: 15%; /* Ширина внутреннего прямоугольника */
height: 10%; /* Высота внутреннего прямоугольника */
background: linear-gradient(to right, #BDE3FF, #19d5db); /* Переливающийся фон */
border-radius: 20px; /* Радиус скругления углов */
position: fixed; /* Фиксированное позиционирование относительно окна браузера */
top: 86%; /* Позиционирование по вертикали */
left: 86%; /* Позиционирование по горизонтали */
transform: translate(-50%, -50%); /* Смещение для точного центрирования */
z-index: 1000; /* Установка высокого значения, чтобы кнопка была над другими элементами */

font-family: 'Calibri', sans-serif; /* Установка шрифта Calibri */
font-size: 18px; /* Размер шрифта */
color: #000000; /* Цвет текста */
font-weight: bold; /* Жирное начертание */




}

#forwardButton2 {
width: 12%; /* Ширина внутреннего прямоугольника */
height: 10%; /* Высота внутреннего прямоугольника */
background: linear-gradient(to right, #BDE3FF, #19d5db); /* Переливающийся фон */
border-radius: 17px; /* Радиус скругления углов */
position: fixed; /* Фиксированное позиционирование относительно окна браузера */
top: 86%; /* Позиционирование по вертикали */
left: 88.5%; /* Позиционирование по горизонтали */
transform: translate(-50%, -50%); /* Смещение для точного центрирования */
z-index: 1000; /* Установка высокого значения, чтобы кнопка была над другими элементами */

font-family: 'Calibri', sans-serif; /* Установка шрифта Calibri */
font-size: 18px; /* Размер шрифта */
color: #000000; /* Цвет текста */
font-weight: bold; /* Жирное начертание */
}

#forwardButton {
width: 15%; /* Ширина внутреннего прямоугольника */
height: 10%; /* Высота внутреннего прямоугольника */
background: linear-gradient(to right, #BDE3FF, #19d5db); /* Переливающийся фон */
border-radius: 20px; /* Радиус скругления углов */
position: fixed; /* Фиксированное позиционирование относительно окна браузера */
top: 86%; /* Позиционирование по вертикали */
left: 86%; /* Позиционирование по горизонтали */
transform: translate(-50%, -50%); /* Смещение для точного центрирования */
z-index: 1000; /* Установка высокого значения, чтобы кнопка была над другими элементами */

font-family: 'Calibri', sans-serif; /* Установка шрифта Calibri */
font-size: 18px; /* Размер шрифта */
color: #000000; /* Цвет текста */
font-weight: bold; /* Жирное начертание */
}


#nextButton {
width: 15%; /* Ширина внутреннего прямоугольника */
height: 10%; /* Высота внутреннего прямоугольника */
background: linear-gradient(to right, #BDE3FF, #19d5db); /* Переливающийся фон */
border-radius: 20px; /* Радиус скругления углов */
position: fixed; /* Фиксированное позиционирование относительно окна браузера */
top: 86%; /* Позиционирование по вертикали */
left: 86%; /* Позиционирование по горизонтали */
transform: translate(-50%, -50%); /* Смещение для точного центрирования */
z-index: 1000; /* Установка высокого значения, чтобы кнопка была над другими элементами */

font-family: 'Calibri', sans-serif; /* Установка шрифта Calibri */
font-size: 18px; /* Размер шрифта */
color: #000000; /* Цвет текста */
font-weight: bold; /* Жирное начертание */
}

#nextButton:hover {
background-color: #32aa90; /* Темно-зеленый фон при наведении */

}


.Namevvod {
width: 23vw; /* Ширина поля для ввода */
height: 15vh; /* Высота поля для ввода */
padding: 20px; /* Внутренний отступ */
top: 83%; /* Позиционирование по вертикали */
left: 20%; /* Позиционирование по горизонтали */

font-size: 18px; /* Размер шрифта */
border-radius: 15px; /* Радиус скругления углов */
border: 1px solid #ccc; /* Тонкая серая рамка */
background: linear-gradient(to right, #BDE3FF, #8ae6d2); /* Переливающийся фон */
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для добавления глубины */
position: fixed; /* Фиксированное позиционирование относительно окна браузера */

transform: translate(-50%, -50%); /* Смещение для точного центрирования */
display: flex; /* Используйте Flexbox для центрирования содержимого */
justify-content: center; /* Горизонтальное центрирование содержимого */
align-items: center; /* Вертикальное центрирование содержимого */
}

.Namevvod::placeholder {
color: rgb(99, 99, 99); /* Серый цвет текста */
opacity: 1; /* Делаем текст непрозрачным */
}

/* Стиль для белого цвета текста, введённого пользователем */
.Namevvod {
color: rgb(0, 0, 0); /* Белый цвет текста */
font-family: 'Calibri', sans-serif; /* Установка шрифта Calibri */
font-size: 18px; /* Размер шрифта */
font-weight: bold; /* Жирное начертание */
}




.welcome-text {
  font-family: 'Calibri', sans-serif; /* Установка шрифта Calibri */
font-size: 24px; /* Размер шрифта */
color: #000000; /* Цвет текста */
font-weight: bold; /* Жирное начертание */

  
}



