__pycache__/commands.cpython-312.pyc
__pycache__/data.cpython-312.pyc
__pycache__/triggers.cpython-312.pyc
__pycache__/voise.cpython-312.pyc
__pycache__
tests.py
__pycache__/triggers.cpython-312.pyc
.venv
